<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/static/css/error.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

  </head>
  <body>
    <div id="main">
            <div class="fof">
                    <img class="error-gif" src="https://media.giphy.com/media/l4Ki2obCyAQS5WhFe/giphy.gif" alt="Loading" title="Loading" />
                    <h1>What did you do?</h1>
                    <h3>Error: {{ .Error }}</h3>
                    <p>Message: {{ .ErrorMessage }}</p>
                    <p>{{ .ErrorHint }}</p>
            </div>
    </div>
    <div class="background"></div>
  </body>
</html>